.antbf-radio-group {
  &__form {
    padding: 10px;
    .ant-radio-wrapper {
      display: flex;
      margin-left: 0;
    }

    .is-actions{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .ant-btn {
        width: 100%;
      }
    }
  }
}
